body {
    font-family: 'Press Start 2P', cursive;
    font-size: 10pt;
    background-color: #334467;
    color: #FFFFFF;
    text-align: center;
}

#table {
    padding: 0.25%;
    margin: 0 auto;
}

#game_over {
    padding: 0.25%;
    margin: 0 auto;
}

