body {
    font-family: 'Press Start 2P', cursive;
    font-size: 12pt;
    background-color: #334467;
    color: #DAEF6B;
    text-align: center;
}

#canvas {
    border-top: 2px dashed;
    border-bottom: 2px dashed;
}

#game_over {
    width: 50%;
    padding: 1%;
    margin: 0 auto;
}

